<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<!-- The time files parsed from the hard disk are cached, in seconds. -->
		<add key="cacheTimeoutSeconds" value="3000" />

		<!-- The site title. -->
		<add key="siteTitle" value="Lightning" />

		<!-- The default template for the site.  Content files can override this value, but this template will be used by default. -->
		<add key="template" value="default" />
		
		<!-- google analytics key -->
		<add key="trackingCode" value="UA-1047099-9" />
		<add key="trackingDomain" value="simpdev.net"/>
	</appSettings>
</configuration>