<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />

		<customErrors mode="Off">
			<error statusCode="404" redirect="404"/>
			<error statusCode="500" redirect="500.html"/>
		</customErrors>

		<!-- register in iis < 7 -->
		<httpModules>
			<add name="Lightning.Module" type="Lightning.Module" />
		</httpModules>
	</system.web>

	<system.webServer>
		<!-- this value is required to support legacy iis configurations.  If you are using >= iis 7, you can remove this key, and the httpModules above -->
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="Lightning.Module" type="Lightning.Module" />
		</modules>

		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="/404" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>

</configuration>